.ingredients {
    background-color: #3282f7;
    color: white;
    &::placeholder{
        color:white;
    }
}

.appliances{
    background-color: #68d9a4;
    color: white;
    &::placeholder{
        color:white;
    }
}

.ustensils{
    background-color: #ed6454;
    color: white;
    &::placeholder{
        color:white;
    }
}

.fa-times-circle{
    cursor: pointer;
}

.dropdown-menu.show{
    width: 30vw;
    max-height: 45vh;
    display: flex;
    flex-flow:row wrap;
    overflow: auto;
}

.dropdown-item{
    flex: 1 1 9vw;
    overflow: hidden;
    text-overflow: ellipsis;

}