.ingredients {
    background-color: #3282f7;
    color: white;
    &::placeholder{
        color:white;
    }
}

.appliances{
    background-color: #68d9a4;
    color: white;
    &::placeholder{
        color:white;
    }
}

.ustensils{
    background-color: #ed6454;
    color: white;
    &::placeholder{
        color:white;
    }
}

.fa-times-circle{
    cursor: pointer;
}

